---
import Socials from "./Socials.astro";
---

<footer class="py-32 mt-10 bg-slate-200">
  <section class="max-w-screen-xl mx-auto flex flex-col items-center">
    <p class="text-3xl text-slate-700">Want to see more?</p>
    <p class="mt-2 text-slate-500">
      Check out my <a
        href="https://instagram.com/imtyrelchambers"
        target="_blank"
        class="underline text-blue-500">instagram</a
      >.
    </p>
    <Socials />
  </section>
</footer>
